.BannerInfo{
    .InfoTitle{
        font-size: 36px;
        color: #33406A;
        font-weight: 600;
    }
    .InfoText{
        font-size: 18px;
        color: #EF461D;
    }
}
.DisolayBannerInfo{
    width: 100%;
}