.Header{
    width: 100%;
    .LogoTitle{
        cursor: pointer;
        .Logo{
            width: 50px;
            height: 50px;
            background-image: url(./logo.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .Title{
            color: #33406A;
            padding-left: 20px;
        }
    }
    .Menu{
        list-style: none;
        li{
            margin: 0px 15px;
            font-size: 16px;
            font-weight: bold;
            color: #4A5061;
            cursor: pointer;
        }
    }
}

.flexible {
    display: flex;
    &.horizontal {
        flex-direction: row;
    }
    &.vertical {
        flex-direction: column;
    }
    &.vertical-reverse {
        flex-direction: column-reverse;
    }
    &.jStart {
        justify-content: flex-start;
    }
    &.jEnd {
        justify-content: flex-end;
    }
    &.jCenter {
        justify-content: center;
    }
    &.jAround {
        justify-content: space-around;
    }
    &.jBetween {
        justify-content: space-between;
    }
    &.aStart {
        align-items: flex-start;
    }
    &.aEnd {
        align-items: flex-end;
    }
    &.aCenter {
        align-items: center;
    }
    &.aCCenter {
        align-content: center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.noWrap {
        flex-wrap: nowrap;
    }
    &.grow {
        flex-grow: 1;
    }
    &.noGrow {
        flex-grow: 0;
    }
    &.shrink {
        flex-shrink: 1;
    }
    &.noShrink {
        flex-shrink: 0;
    }
  }