.Home{
    width: 100%;
    height: 100vh;
    background-image: url(../../../images/Header.png);
    background-size: cover;
    background-repeat: no-repeat;
    &::before{
        content: '';
        display: block;
        width: 100%;
        height: inherit;
        background-image: url(../../../images/Bannerbg.png);
        background-size: 60%;
        background-position: calc(100% - 20px) 50%;
        background-repeat: no-repeat;
    }
}