.HomePageText{
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 7rem;
        z-index: 100;
        .travel_to{
            text-align: start;
            color: rgb(241, 31, 31);
            text-transform: uppercase;
            font-weight: 600;
            font-size: 30px;
            margin: 5px;
        }
        .choose_your{
            text-align: start;
            color: #33406A;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 45px;
            margin: 5px;
            
        }
        .text{
            text-align: start;
            max-width: 634px;
            color:#1D193B;
            font-size: 20px;
        }
        .button_class{
            .homes_page_button{
                text-transform: uppercase;
                border: none;
                transition: all 500ms ease; 
                &:hover{
                    background: rgba(222, 241, 243, 0.616);
                    color: #3a7999;
                    box-shadow: inset 0 0 0 3px #3a7999;      
                }
            }
        }
}
