
    .contain{
        margin-top: 50px;
        .textContainer{
        width: 50%;
        margin: 25px;
            .preHeaderText{
                color: #F1481F;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 17px;
                margin-top: 25px;
            }
            h2{
                color: #33406A;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 32px;
                margin: 5px;
            }
            .randomText{
                color: #7C7C7C;
                font-size: 12px;
                font-weight: 500;
            }
        }
        .allReasons{
            .picsContainers{
                box-shadow: -1px 2px 21px -13px rgba(48,39,39,0.8);
                background-color: #fff;
                border-radius: 7px;
                margin: 10px;
                max-width: 165px;
                min-width: 165px;
                min-height: 241px ;
                max-height: 241px ;
                cursor: pointer;
                img{
                    border-radius: 10px;
                    width: 80px;
                    height: 120px;
                }
                p{
                    font-size:17px;
                    color: #33406A;
                    font-weight: bold;
                }
            }
        }
        .picsContainers:hover{
            box-shadow: 2px 6px 35px -13px rgba(26,25,26,0.82);
        }
    }
    .mainVideo{
        width: 70%;
        margin: 10px;
        iframe{
            box-shadow: -1px 3px 8px 5px rgba(217,210,217,0.8);
            width: 70%;
            min-height: 350px;
            max-height: 600px;
            border-radius: 7px;
        }
    }
