.blogs_header{
    
    h3{
        color: #F1481F;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 17px;
        margin: 5px;
    }
    h1{
        color: #33406A;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 32px;
        margin: 5px;
        
    }
    p{
        color: #7C7C7C;
        font-size: 12px;
        font-weight: 500;
    }
}