.containForButtons{
    margin-top: 50px;
    max-width: 730px;
    min-height: 85px;
    border: 1px solid #FF5500;
    border-radius: 42.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: bold;
    box-sizing: border-box;
    
    button{
        color: white;
        font-weight:bold;
        margin: 3px;
        cursor: pointer;
    }
    
   
    .lastreviewes{
        width: 200px;
        height: 60px;
        background-color: #7E59D2;
        // background-image:linear-gradient(to left,rgb(126,89,210));
        border-radius: 30px;
    }
    .allreviewes{
        width: 240px;
        height: 60px;
        background-color: #FF5500;
        border-radius: 30px;
    }
    .topreviews{
        width: 200px;
        height: 60px;
        background-color: #FF5500;
        border-radius: 30px;
    }
}