.Contain_of_reviewer_page{
   background-image: url('../../../images/SecondBackground.png');
   background-size: 80%;
   background-position: top;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}