.featureSection{
    background-color: #ffffff;
    .featureSectionBack{
        width: 100%;
        background: url("../../../../assets/features_background.png") no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center; 
        min-height: 712px;
        .text_part{
            text-align: center;
            margin: 4%;
            h2 {
                font-size: 18px;
                line-height: 26px;
                color: #f1481f;
                font-family: Arial;
            }
            h1 {
                font-size: 40px;
                line-height: 50px;
                color: #33406a;
                font-family: Arial;
            }
            p {
                font-size: 15px;
                line-height: 25px;
                color: #484748;
                font-family: Arial;
            }
            
        }
            .img_part{
                    margin: 5px;
            }
            span{
                    text-align: center;
            }
    }
    // .featureSectionBack2{
    //     width: 100%;
        
    //     background: url("../../../../assets/features_background2.png") no-repeat;
    //     background-size: contain;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center; 
    //     min-height: 712px;
    // }
}