.Banner{
    margin-left: 100px;
    font-family: unset;
    .BannerMiniTitle{
        color: #F1481F;
        font-size: 40px;
    }
    .BannerBigTitle{
        color: #33406A;
        font-size: 80px;
        font-weight: 700;
    }
    .BannerText{
        color: #33406A;
        font-size: 28px;
        text-align: left;
    }
}
